<div class="container">
  <br/>
  <div class="row justify-content-md-center">
    <div class="col-6 col-md-offset-3">
      <h1>
        <strong> Please input your name </strong>
      </h1>
      <%= render partial: "form" %>
    </div>
  </div>
</div>
